.modalBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContainer {
    width: 825px;
    height: 595px;
    border-radius: 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: row;
    // padding: 15px;
    // .titleCloseBtn {
    //   display: flex;
    //   justify-content: flex-end;
    // }
    .modalContainer .footer {
      flex: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modalContainer .body {
      flex: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.7rem;
      text-align: center;
    }

    .modal-img {
      width: 330px;
      height: 595px;
    }
    .body {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .comment_text {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .indir2 {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 1px solid rgb(182, 182, 182);
        margin-left: 5px;
      }
    }
    .com_like_send_log {
      // position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid rgb(194, 191, 191);
      margin-top: 260px;
      .com_like_send {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        #like {
          margin: 10px;
          width: 24px;
          height: 24px;
        }
      }
      #log {
        width: 24px;
        height: 24px;
        margin-right: 28px;
      }
    }
    .footer-comment {
      display: flex;
      // justify-content: space-around;
      // align-items: center;
      margin-top: 8px;
      margin-left: 10px;
    }
  }
  .indir1 {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid rgb(182, 182, 182);
    margin-left: 5px;
  }
}
